body main .cart-container {
  background-color: hsl(0, 0%, 100%);
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: 100%;
  margin-top: 1.75rem;
}

@media (min-width: 961px) {
  body main .cart-container {
    background-color: hsl(0, 0%, 100%);
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: 350px;
  }
}

body main .cart-container .cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

body main .cart-container .cart-header .cart-title {
  font-size: 1.75rem;
  font-weight: 700;
  color: hsl(14, 86%, 42%);
}

@media (min-width: 961px) {
  body main .cart-container .cart-header .cart-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(14, 86%, 42%);
  }
}

body main .cart-container .cart-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body main .cart-container .cart-items .cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem 0;
  border-bottom: 1px solid hsl(13, 31%, 94%);
  height: 100%;
  width: 100%;
}

body main .cart-container .cart-items .cart-item .cart-item-left .item-name {
  font-size: 1rem;
  font-weight: 600;
  color: hsl(14, 65%, 9%);
}

@media (min-width: 961px) {
  body main .cart-container .cart-items .cart-item .cart-item-left .item-name {
    font-size: 0.85rem;
    font-weight: 600;
    color: hsl(14, 65%, 9%);
  }
}

body main .cart-container .cart-items .cart-item .cart-item-left .item-details {
  font-size: 1rem;
  font-weight: 600;
  color: hsl(14, 25%, 72%);
  padding: 5px 0;
}

@media (min-width: 961px) {
  body main .cart-container .cart-items .cart-item .cart-item-left .item-details {
    font-size: 0.85rem;
    font-weight: 600;
    color: hsl(14, 25%, 72%);
  }
}

body main .cart-container .cart-items .cart-item .cart-item-left .item-details .item-quantity {
  margin-right: 0.5rem;
  color: hsl(14, 86%, 42%);
}

body main .cart-container .cart-items .cart-item .cart-item-left .item-details .item-price {
  margin-right: 0.25rem;
}

body main .cart-container .cart-items .cart-item .cart-item-left .item-details .item-total {
  color: hsl(7, 20%, 60%);
}

body main .cart-container .cart-items .cart-item .cart-item-right .remove-button {
  border: 1px solid hsl(14, 25%, 72%);
  padding: 5px;
  background: transparent;
  border-radius: 50%;
  font-size: 1.5rem;
  width: 1.4rem;
  height: 1.4rem;
  color: hsl(14, 25%, 72%);
  cursor: pointer;
  transition: color 0.3s, border 0.3s;
}

body main .cart-container .cart-items .cart-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1rem;
  height: 100%;
  width: 100%;
}

body main .cart-container .cart-items .cart-total .total-text {
  font-size: 0.85rem;
  font-weight: 400;
  color: hsl(14, 65%, 9%);
}

@media (min-width: 769px) {
  body main .cart-container .cart-items .cart-total .total-text {
    font-size: 1rem;
    font-weight: 400;
    color: hsl(14, 65%, 9%);
  }
}

@media (min-width: 961px) {
  body main .cart-container .cart-items .cart-total .total-text {
    font-size: 0.85rem;
    font-weight: 400;
    color: hsl(14, 65%, 9%);
  }
}

body main .cart-container .cart-items .cart-total .total-price {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(14, 65%, 9%);
}

@media (min-width: 769px) {
  body main .cart-container .cart-items .cart-total .total-price {
    font-size: 1.75rem;
    font-weight: 700;
    color: hsl(14, 65%, 9%);
  }
}

@media (min-width: 961px) {
  body main .cart-container .cart-items .cart-total .total-price {
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(14, 65%, 9%);
  }
}
body main .cart-container .cart-items .cart-note {
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: hsl(13, 31%, 94%);
  height: 100%;
  width: 100%;
  padding: 0.75rem 0;
  border-radius: 0.5rem;
  margin: 1rem 0 1.5rem;
}

@media (min-width: 961px) {
  body main .cart-container .cart-items .cart-note {
    font-size: 0.75rem;
  }
}

body main .cart-container .cart-items .cart-note img {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

@media (min-width: 961px) {
  body main .cart-container .cart-items .cart-note img {
    width: 1rem;
    height: 1rem;
  }
}

body main .cart-container .cart-items .cart-note span {
  font-weight: 700;
}

body main .cart-container .cart-items .checkout-button {
  background-color: hsl(14, 86%, 42%);
  color: hsl(20, 50%, 98%);
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  height: 100%;
  width: 100%;
}

body main .cart-container .cart-items .checkout-button:hover {
  background-color: #982c0b;
}

body main .cart-container .cart-items .illustration-empty-cart {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 200px;
  margin-top: 2rem;
}

body main .cart-container .cart-items .cart-empty-text {
  font-size: 0.9rem;
  font-weight: 600;
  color: hsl(12, 20%, 44%);
}

@media (min-width: 961px) {
  body main .cart-container .cart-items .cart-empty-text {
    font-size: 0.75rem;
    font-weight: 600;
    color: hsl(12, 20%, 44%);
  }
}