body main .main-container .desserts-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  gap: 1rem;
  align-items: center;
  justify-items: center;
}

@media (min-width: 769px) {
  body main .main-container .desserts-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 2rem;
    align-items: center;
    justify-items: center;
  }
}

@media (min-width: 961px) {
  body main .main-container .desserts-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(235px, 1fr));
    gap: 1rem;
    align-items: stretch;
    justify-items: start;
  }
}

@media (min-width: 1101px) {
  body main .main-container .desserts-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 1rem;
    align-items: stretch;
    justify-items: start;
  }
}